@{
  Layout = "_Layout";
}
@using PierresVendors.Models;

<h3>VENDOR: @Model.VenName</h3>
<h3>VENDOR TYPE: @Model.VenType</h3>

<p><a href='/vendors/@Model.Id/orders/new'>START A NEW ORDER</a></p>

<br><p><a href='/vendors'>RETURN TO VENDORS LIST</a>
<p><a href='/'>RETURN HOME</a>